extensions/HydPyOpenDABBModelWrapper/src/main/resources/schemas/spatialNoiseModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2019 by
  - OpenDA Association
  - Bundesanstalt für Gewässerkunde
  - Björnsen Beratende Ingenieure GmbH
  All rights reserved.

  This file is Free Software under the under the terms of the
  GNU Lesser General Public License (LGPL >=v3)
  and comes with ABSOLUTELY NO WARRANTY! Check out the
  documentation coming with HydPy for details.
-->
<schema xmlns:hydpy="https://github.com/hydpy-dev/OpenDA" xmlns:oda="http://www.openda.org" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://github.com/hydpy-dev/OpenDA" elementFormDefault="qualified">

  <import namespace="http://www.openda.org" schemaLocation="http://schemas.openda.org/noiseModels/noiseModelSharedTypes.xsd" />

  <simpleType name="NoiseGridCoordSystemType">
    <restriction base="string">
      <enumeration value="xy" />
      <enumeration value="wgs84" />
    </restriction>
  </simpleType>

  <simpleType name="HorizontalCorrelationScaleUnitType">
    <restriction base="string">
      <enumeration value="cm" />
      <enumeration value="m" />
      <enumeration value="km" />
    </restriction>
  </simpleType>

  <complexType name="GeometryType">
    <annotation>
      <documentation>geometry defining the spatial extent and correlation of a noise item</documentation>
    </annotation>
    <sequence>
      <choice>
        <element ref="hydpy:_geometryConfiguration" />
      </choice>
    </sequence>
    <attribute name="id" type="ID" use="required">
      <annotation>
        <documentation>The identifier for the geometry</documentation>
      </annotation>
    </attribute>
    <attribute name="coordinates" type="hydpy:NoiseGridCoordSystemType" use="optional" default="xy">
      <annotation>
        <documentation>The coordinate system of the geometry</documentation>
      </annotation>
    </attribute>
    <attribute name="horizontalCorrelationScale" type="double" use="required">
      <annotation>
        <!-- FIXME: 'horizontal' is too grid specific but also has nothing to do with the fact that the geometry is a grid -->
        <documentation>Interval specifying the horizontal spatial correlation between the consecutive values</documentation>
      </annotation>
    </attribute>
    <attribute name="horizontalCorrelationScaleUnit" type="hydpy:HorizontalCorrelationScaleUnitType" use="optional" default="m">
      <annotation>
        <documentation>The unit for the horizontal correlation scale</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="NoiseItemType">
    <annotation>
      <documentation>output item containing a noise item of the specified geometry with values generated by the noise model</documentation>
    </annotation>
    <attribute name="id" type="string" use="required">
      <annotation>
        <documentation>The identifier for the noise item</documentation>
      </annotation>
    </attribute>
    <attribute name="geometry" type="IDREF" use="required">
      <annotation>
        <documentation>The identifier for the noise item</documentation>
      </annotation>
    </attribute>
    <attribute name="initialValue" type="double" use="optional" default="0.0">
      <annotation>
        <documentation>The initial value for the generated noise</documentation>
      </annotation>
    </attribute>
    <attribute name="standardDeviation" type="double" use="required">
      <annotation>
        <documentation>The standard deviation for the generated noise</documentation>
      </annotation>
    </attribute>
    <attribute name="timeCorrelationScale" type="double" use="required">
      <annotation>
        <documentation>Time interval specifying the time correlation between the consecutive values</documentation>
      </annotation>
    </attribute>
    <attribute name="timeCorrelationScaleUnit" type="oda:timeCorrelationScaleUnitXML" use="optional" default="days">
      <annotation>
        <documentation>The unit for the time correlation scale</documentation>
      </annotation>
    </attribute>
    <attribute name="quantity" type="string" use="optional">
      <annotation>
        <documentation>The quantity contained in the noise item</documentation>
      </annotation>
    </attribute>
    <attribute name="unit" type="string" use="optional">
      <annotation>
        <documentation>The unit of the quantity contained in the noise item</documentation>
      </annotation>
    </attribute>
    <attribute name="timezone" type="string" use="optional">
      <annotation>
        <documentation>Time zone for the noise noise item (GMT, CET, etc ...). Currently not supported</documentation>
      </annotation>
    </attribute>
  </complexType>

  <complexType name="SpatialNoiseModelConfigType">
    <sequence>
      <element name="simulationTimespan" type="oda:simulationTimespanXML" minOccurs="0" maxOccurs="1" />
      <element name="geometry" type="hydpy:GeometryType" maxOccurs="unbounded" />
      <element name="noiseItem" type="hydpy:NoiseItemType" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <element name="spatialNoiseModelConfig" type="hydpy:SpatialNoiseModelConfigType">
    <annotation>
      <documentation>Configuration for OpenDA's noise model</documentation>
    </annotation>
  </element>

  <element name="_geometryConfiguration" type="hydpy:AbstractGeometryConfigurationType">
    <annotation>
      <documentation>Base type for all configuration elements of geometry implementations.</documentation>
    </annotation>
  </element>
  <complexType name="AbstractGeometryConfigurationType">
    <attribute name="factory" use="required">
      <annotation>
        <documentation>Implementation class of this specific geometry. Must implement org.hydpy.openda.noise.ISpatialNoiseGeometryFactory</documentation>
      </annotation>
    </attribute>
  </complexType>

  <element name="_grid" substitutionGroup="hydpy:_geometryConfiguration" type="hydpy:AbstractGridType" abstract="true" />
  <complexType name="AbstractGridType" abstract="true">
    <complexContent>
      <restriction base="hydpy:AbstractGeometryConfigurationType">
        <attribute name="factory" fixed="org.hydpy.openda.noise.grid.SpatialNoiseGridGeometryFactory" use="required" />
      </restriction>
    </complexContent>
  </complexType>

  <element name="grid" substitutionGroup="hydpy:_grid">
    <annotation>
      <documentation>A regular grid defined by its coordinates in x and y direction.</documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="hydpy:AbstractGridType">
          <sequence>
            <element name="x" type="hydpy:CoordinatesType" />
            <element name="y" type="hydpy:CoordinatesType" />
          </sequence>
          <attribute name="separable" type="boolean" default="false">
            <annotation>
              <documentation>To speed up calculations the coordinates can be treated as separable. This means that correlations
                are computed for both spatial directions separately. This is much faster, but is only approximate for
                spherical coordinates, especially near the poles.
              </documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="_points" substitutionGroup="hydpy:_geometryConfiguration" type="hydpy:AbstractPointsType" abstract="true" />
  <complexType name="AbstractPointsType" abstract="true">
    <complexContent>
      <restriction base="hydpy:AbstractGeometryConfigurationType">
        <attribute name="factory" fixed="org.hydpy.openda.noise.points.SpatialNoisePointsGeometryFactory" use="required" />
      </restriction>
    </complexContent>
  </complexType>

  <element name="points" substitutionGroup="hydpy:_points">
    <annotation>
      <documentation>An arbitrary set of points.</documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="hydpy:AbstractPointsType">
          <sequence>
            <element name="x" type="hydpy:CoordinatesType" />
            <element name="y" type="hydpy:CoordinatesType" />
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="_pointsHydPy" substitutionGroup="hydpy:_geometryConfiguration" type="hydpy:AbstractPointsHydPyType" abstract="true" />
  <complexType name="AbstractPointsHydPyType" abstract="true">
    <complexContent>
      <restriction base="hydpy:AbstractGeometryConfigurationType">
        <attribute name="factory" fixed="org.hydpy.openda.noise.points.HydPySpatialNoisePointsGeometryFactory" use="required" />
      </restriction>
    </complexContent>
  </complexType>

  <element name="pointsHydPy" substitutionGroup="hydpy:_pointsHydPy">
    <annotation>
      <documentation>Specialized spatial distribution of 'point' locations, where the order (within the noise vector) will be
        fetched from a HydPy-Server instance via its method 'getItemNames'. This ensures that the order (and dimension) of the spatial noise vector fits the model structure without need for defining it twice.
        The actual locations will be (for now) fetched from a separate
        'locationsFile' that maps
        HydPy element names to locations.
        For the future it is planned to also fetch the location information directly from the HydPy model.
        Usage of this spatial geometry prerequisites the usage of the org.hydpy.openda.HydPyModelFactory.
      </documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="hydpy:AbstractPointsHydPyType">
          <attribute name="modelExchangeItem" type="string" use="required">
            <annotation>
              <documentation>Id of the exchange item from which the order and dimension of the spatial noise vector will be derived.</documentation>
            </annotation>
          </attribute>
          <attribute name="locationsFile" type="string" use="required">
            <annotation>
              <documentation>Path to an external file containing a mapping between HydPy element names and their geographic location.
                The path will be resolved against the working dir of the spatial noise model.
                The file format is a tabular separated table with three columns: element-name, x-coordinate and y-coordinate.
                Empty lines or lines starting with '#' are ignored.
                The locations file must
                contain
                one location for each element within the spatial noise vector
                aka the referenced exchange item. However the file may define more locations than needed, e.g. in order to be reused for different element sub-sets.
              </documentation>
            </annotation>
          </attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <simpleType name="CoordinatesType">
    <annotation>
      <documentation>Definition of the points along a coordinate axis (all points, or: start,next,...,end)</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[0-9.,\- ]+" />
    </restriction>
  </simpleType>

</schema>